--- 
--- 
@import "{{ site.theme }}";

body {
}

#project-title {
    font-size: 3rem;
}

#header_wrap {
    background: rgb(14,0,255);
background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(51,51,255,1) 45%, rgba(0,212,255,1) 100%);
}

.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
